.header {
  padding: 24px 32px;
}

.main {
  background-image: url(../images/desktop/image-header.jpg);
}

.main_title {
  max-width: 920px;
  font-size: 2.6rem;
}

.main_arrow {
  margin: 60px auto 0;
}

.description_img {
  min-height: 600px;
}

.description {
  padding: 160px 120px;
}

.description_title {
  max-width: 420px;
  font-size: 2.4rem;
  font-weight: bold;
}

.description_text {
  font-size: 1rem;
  line-height: 1.6rem;
  max-width: 400px;
  margin: 32px 0 0 0;
}

.description_cta {
  margin: 32px 0 0 0;
}

.description_cta a {
  font-size: 0.9rem;
}

.egg {
  background-image: url(../images/desktop/image-transform.jpg);
}

.cup {
  background-image: url(../images/desktop/image-stand-out.jpg);
}

.service_container {
  min-height: 600px;
  background-size: cover;
  background-position: 0px 0px;
  text-align: center;
}

.service {
  max-width: 320px;
  margin: 0 auto;
}

.service_title {
  font-size: 2.4rem;
}

.cherry {
  background-image: url(../images/desktop/image-graphic-design.jpg);
}

.orange {
  background-image: url(../images/desktop/image-photography.jpg);
}

.testimonials_title {
  font-size: 1.4rem;
  letter-spacing: 5px;
}

.testimonials_container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.figures {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.figure {
  height: 400px;
}
