:root {
  /* Colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --beige: hsl(49, 100%, 98%);
  --dark-desaturated-cyan-text: hsl(167, 40%, 24%);
  --dark-moderate-cyan-footer: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --dark-blue-photo-text: hsl(198, 62%, 26%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  /* Text */
  --font-primary: "Fraunces", "serif";
  --font--secondary: "Barlow", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 560px;
  width: 100%;
  background-image: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.mob_header {
  padding: 24px 24px;
}

.mob_header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_title {
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--white);
  max-width: 320px;
  margin: 40px auto 0;
  text-align: center;
  letter-spacing: 8px;
  font-size: 2.4rem;
}

.main_arrow {
  margin: 80px auto 0;
  text-align: center;
}

.mob_menu {
  position: absolute;
  top: 64px;
  right: 24px;
  display: none;
}

.mob_menu_list_container {
  background-color: var(--white);
  width: 328px;
  max-width: 328px;
  padding: 24px;
}

.mob_menu_list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list_item {
  width: 100%;
  padding: 16px 0;
  font-family: var(--font--secondary);
}

.last_item {
  max-width: 120px;
  background-color: var(--yellow);
  border-radius: 72px;
  font-family: var(--font-primary);
  text-transform: uppercase;
  margin: 12px 0 12px 0;
  font-size: 0.9rem;
  font-weight: 600;
}

.list_item a {
  text-decoration: none;
  color: var(--very-dark-grayish-blue);
}

.last_item a {
  color: var(--very-dark-desaturated-blue);
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 24px solid var(--white);
  border-left: 24px solid transparent;
  margin: 0 0 0 auto;
}

.descriptions {
  display: grid;
  grid-template-rows: 1fr;
}

.description_img {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.egg {
  background-image: url(../images/mobile/image-transform.jpg);
}

.cup {
  background-image: url(../images/mobile/image-stand-out.jpg);
}

.description {
  background-color: var(--beige);
  text-align: center;
  padding: 80px 24px;
}

.description_title {
  font-family: var(--font-primary);
  max-width: 300px;
  margin: 0 auto;
  color: var(--very-dark-desaturated-blue);
  font-size: 1.8rem;
}

.description_text {
  font-family: var(--font--secondary);
  font-weight: 600;
  color: var(--very-dark-grayish-blue);
  margin: 24px 0 0 0;
  line-height: 24px;
}

.description_cta {
  margin: 24px 0 0 0;
}

.description_cta a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-primary);
  color: var(--very-dark-desaturated-blue);
  font-size: 0.8rem;
  letter-spacing: 1px;
}
