.mob_header {
  display: none;
}

.header {
  display: block;
}

.header {
  padding: 24px 24px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_container {
  display: flex;
}

.menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.list_item {
  margin: 0 0 0 32px;
  padding: 0;
}

.list_item a {
  color: var(--white);
}

.last_item {
  padding: 12px 24px;
  background-color: var(--white);
}

.last_item a {
  color: var(--very-dark-desaturated-blue);
}

.last_item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.last_item a:hover {
  color: var(--white);
}

.descriptions {
  grid-row: 1fr 1fr;
}

.description_container {
  display: flex;
  flex-direction: row;
}

.description_img {
  width: 50%;
}

.description {
  width: 50%;
  text-align: left;
  padding: 80px 48px;
}

.egg {
  order: 2;
}

.description_title {
  margin: 0;
}

.description_text {
  line-height: 1.2rem;
  font-size: 0.8rem;
}

.services {
  display: flex;
}

.service_container {
  min-height: 384px;
  width: 50%;
  background-position: 0px -120px;
  background-size: cover;
  background-repeat: no-repeat;
}
